<!DOCTYPE html>
<html lang="en">
    <head>
        <title> Choose your profile picture </title>
        <link rel="stylesheet" href="./styles.css" />
    </head>
    <body>
        <main>
            <h1>Hello {{ username }}</h1>
            <h2>Choose your profile picture from the following</h2>
            <form method="post">
                <ol class="canards">
                    {% for index in range(images|length) %}
                        <li class="canard">
                            <input type="radio" id="{{ images[index] }}" value="{{ images[index] }}" name="canard" />
                            <label for="{{ images[index] }}"><img src="{{ images[index] }}" alt="image" width="100" height="100"></label>
                        </li>
                    {% endfor %}
                </ol>
                <button type="submit">Confirm</button>
            </form>
        </main>
    </body>
</html>